.ratingIcon{
    flex: 1;
    font-size: 1.5rem !important;
    color: gray;
}

.ratingIcon:not(:last-child){
    margin-right: 0.5rem;
}

.ratingIcon.filledIcon{
    color: gold;
}

@media only screen and (max-width: 75em){
  .ratingIcon{
      font-size: 3rem !important;
  }
} 