.newUser{
    padding: 20px
}

.newUserForm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.newUserItem{
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}


.newUserItem > label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.newUserItem > input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newUserGender > input{
    margin-top: 15px;
} 

.newUserGender > label {
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: #acbfa3;
    color: #fff;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: all .5s ease;
}


.newUserButton:hover{
    background-color: #bfaba0;
}

.react-datepicker__input-container input, .PhoneInputInput{
    padding: 10px;
}

.react-datepicker__input-container input{
    width: 100%;
}

@media only screen and (max-width: 30em){
    .newUserForm{
        flex-flow: column nowrap;
    }

    .newUserItem:not(:last-child){
        margin-bottom: 10px;
    }
}