.chartContainer{
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,.75);
}

.chartTitle{
    font-size: 2rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 53.75em){
    .chart{
        padding: 1rem;
    }
}