.changePassword{
    padding: 2rem;
}

.changePasswordForm{
    margin: 4rem 0;
}

.changePasswordFormGroup{
    display: flex;
    flex-direction: column;
}

.changePasswordFormGroup:not(:last-child){
    margin-bottom: 2.5rem;
}

.changePasswordFormGroup > label{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.changePassword input{
    padding: 1rem;
    border: 1px solid #4b5354;
    border-radius: 10px;
    width: 100%;
    font-family: inherit;
}

.error{
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    color: red;
}

.changePassword input:focus{
    outline: none;
    border: 1px solid #acbfa3;
}

.changePasswordBtnContainer{
    margin-top: 3rem;
    text-align: center;
}

.changePasswordBtnContainer button{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 50%;
    padding: 2rem;
    color: #fff;
    background-color: #acbfa3;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
}

.changePasswordBtnContainer button:hover{
    background-color: #b8afa3;
}

.changePassLoader{
    color: #fff;
}