.noReviewsMsgContainer{
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.noReviewsMsg{
  font-size: 3rem;
  font-weight: 600;
}

.noReviewCaption{
  font-size: 1.5rem;
  font-weight: 400;
}
.paginationContainer{
  margin-top: 20px; 
}

.reviewPagination {
    display: flex;
    float: right;
    list-style: none;
    outline: none;
  }

  .reviewPagination > .active > a {
    background-color: #acbfa3;
    border-color: #acbfa3;
    color: #fff;
  }
  .reviewPagination > li > a {
    border: 1px solid #acbfa3;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
  }
  .reviewPagination > .active > a,
  .reviewPagination > .active > span,
  .reviewPagination > .active > a:hover,
  .reviewPagination > .active > span:hover,
  .reviewPagination > .active > a:focus,
  .reviewPagination > .active > span:focus {
    background-color: #acbfa3;
    border-color: #acbfa3;
    outline: none;
  }
  .reviewPagination > li > a,
  .reviewPagination > li > span {
    color: #acbfa3;
  }
  .reviewPagination > li:first-child > a,
  .reviewPagination > li:first-child > span,
  .reviewPagination > li:last-child > a,
  .reviewPagination > li:last-child > span {
    border-radius: unset;
  }