.productListItem{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.createProductBtnContainer{
    display: flex;
    padding: 1rem 2rem;
    justify-content: flex-end;
}

.createProductBtn{
    width: 100%;
    padding: 1rem 2rem;
    background-color: #b8a398;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    transition: all .3s;
    cursor: pointer;
}

.createProductBtn:hover{
    background-color: #acbfa3;
}

.productListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #acbfa3;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    font-size: 2rem !important;
    color: red;
    cursor: pointer;
}

.checkIcon, .cancelIcon{
    font-size: 3rem !important;
}

.majorProductItem,
.inStockContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-18lolh3-MuiDataGrid-root{
    font-size: 1.5rem !important;
}