.newProduct{
    position: relative;
    flex: 4;
    padding: 20px
}

.progress{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.newProductForm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.newProductItem{
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}


.newProductItem > label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

.newProductItem > input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    transition: all .5s ease;
    font-family: inherit;
}

.newProductItem > textarea{
    padding: 10px;
    border-radius: 5px;
    font-family: inherit;
    transition: all .5s ease;
    border: 1px solid gray;
    resize: vertical;
    white-space: pre-wrap;
}

.newProductItem > input:focus{
    outline: none;
    border: 1px solid #b8a398;
}

.newProductItem > textarea:focus{
    outline: none;
    border: 1px solid #b8a398;
}

.newProductSelect{
    height: 40px;
    border-radius: 5px;
    transition: all .5s ease;
}

.newProductSelect:focus{
    outline: none;
    border: 1px solid #b8a398;
}

.priceInputContainer{
    display: flex;
    border: 1px solid gray;
}

.currency{
    flex: 0 0 20px;
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    color: gray;
    font-size: 1.5rem;
}

.productNameInput{
    text-transform: capitalize;
}

.priceInput{
    padding: 10px;
    flex: 1;
    border: none;
}

.priceInput:focus{
    outline: none;
}

.priceInputContainer:focus{
    border: 1px solid #b8a398;
}


.newProductButton{
    width: 200px;
    border: none;
    background-color: #acbfa3;
    color: #fff;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: all .5s ease;
}


.newProductButton:hover{
    background-color: #bfaba0;
}

.error{
    padding: 1rem;
    color: #ff4444;
    font-size: 1.2rem;
}