.userListUser{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: #acbfa3;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.userListDelete{
    font-size: 2.5rem !important;
    color: red;
    cursor: pointer;
}

.css-18lolh3-MuiDataGrid-root{
    font-size: 2rem;
}