.blogContainer{
    flex: 4;
    padding: 40px;
    background-color: rgba(247, 250, 251, .5);
}

.viewBlogContainer, .blogEditTitleContainer{
    margin-bottom: 20px;
}

.viewBlogTitleContainer, .blogEditTitleContainer{
    display: flex;
    justify-content: space-between;
}

.blogViewLabel, .blogEditTitle > label{
    display: block;
    font-size: 18px;
    color: #555;
    font-weight: 600;
    margin-bottom: 10px;
}

.viewBlogTitle{
    flex: 0 0 80%;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #edf0f1;
    border-radius: 10px;
    padding: 8px 12px;
}

.blogViewActions{
    flex: 0 0 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewActionBtn, .editActionBtn{
    background-color: #fff;
    border: 1px solid #edf0f1;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.blogActionLink{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    text-decoration: none;
    color: #000;
}

.viewActionBtn:not(:last-child), .editActionBtn:not(:last-child){
    margin-right: 10px;
}


.viewActionIcon, .editActionIcon{
    font-size: 18px !important;
    margin-right: 10px;
}


.blogActionLink:hover, .submitBtn:hover{
    background-color: #acbfa3;
    color: #fff;
}

.blogViewDetails, .blogEditContainer{
    display: flex;
    justify-content: space-between;
}

.blogViewContentContainer, .blogEditContent{
    flex: 0 0 70%;
    margin-right: 20px;
}

.blogViewGroup, .blogEditGroup{
    display: flex;
    flex-direction: column;
}

.blogInfoBlock, .blogEditBlock{
    border-radius: 10px;
    overflow: hidden;
    margin: 30px 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.blogInfoBlock > .blogLabel, .blogEditBlock > .blogLabel {
    padding: 10px 20px;
    background-color: #acbfa3;
    color: #fff !important;
    font-size: 20px;
}

.blogContent{
    padding: 20px;   
}

.blogImgContainer{
   padding: 10px; 
}

.blogImgContainer > img{
    display: block;
    width: 100%;
    height: 500px;
}

.blogImgCaption{
    display: block;
    margin: 10px 0;
    font-size: 15px;
}

.blogImgCaption span{
    color: #acbfa3;
}

.blogComments{
    padding: 10px 20px;
}

.blogMetaContainer, .blogEditMetaContainer{
    flex: 0 0 30%;
    padding: 20px; 
}

.blogViewGroup > .blogLabel, .blogEditGroup > .blogLabel{
    font-size: 15px;
    color: #555;
    font-weight: 600;
    margin-bottom: 10px;
}


.blogViewGroup:not(:last-child){
    margin-bottom: 30px;
}

.blogAuthor{
    display: flex;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #edf0f1;
}

.blogAuthorImg{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.blogAuthorName{
    text-transform: capitalize;
    font-size: 18px;
    color: #555;
    display: flex;
    align-items: center;
}

.dateInfoContainer{
    display: flex;
    justify-content: space-between;
}

.dateInfo{
    flex: 0 0 60%;
    margin-right: 20px;
}

.timeInfo{
    flex: 0 0 40%;
}

.dateInfo, .timeInfo{
    background-color: #fff;
    border: 1px solid #edf0f1;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.blogCategories{
    list-style-type: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #edf0f1;
}

.blogCategory{
    padding: 10px 20px;
}

.blogCategory:not(:last-child){
    border-bottom: 1px solid #edf0f1;
}

.blogEditTitle{
    flex: 0 0 80%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.blogTitleInput{
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #edf0f1;
    border-radius: 10px;
    padding: 8px 12px;   
}

.saveBlogActionContainer{
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
}


.submitBtn{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

.blogEditGroup:not(:last-child){
    margin-bottom: 40px;
}

.editInputContainer{
    padding: 20px;
}

.editInputContainer > textarea, .editInputContainer > input{
    width: 100%;
    resize: none;
    padding: 10px 20px;
}

.authorInput{
    border: none;
}

.authorInput, .categorySelect{
    padding: 10px 0px 10px 5px;
    border-radius: 10px;
    border: 1px solid #edf0f1;
    transition: all .5s ease;
}

.authorInput:focus, .categorySelect:focus{
    outline: none;
    border: 1px solid #acbfa3;
}

.blogContentInput{
    width: 100%;
    height: 200px;
}

.quillContainer{
    height: 350px;
}