.blogContainer{
    padding: 40px;
    background-color: rgba(247, 250, 251, .5);
}

.viewBlogContainer, .blogEditTitleContainer{
    margin-bottom: 20px;
}

.viewBlogTitleContainer, .blogEditTitleContainer{
    display: flex;
    justify-content: space-between;
}

.blogViewLabel, .blogEditTitle > label{
    display: block;
    font-size: 1.5rem;
    color: #555;
    font-weight: 600;
    margin-bottom: 10px;
}

.viewBlogTitle{
    flex: 0 1 75%;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #edf0f1;
    border-radius: 10px;
    padding: 8px 12px;
}

.blogViewActions{
    flex: 0 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewActionBtn, .editActionBtn{
    background-color: #fff;
    border: 1px solid #edf0f1;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.editActionBtn{
    margin-top: 30px;
}

.blogActionLink{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    text-decoration: none;
    color: #000;
}

.viewActionBtn:not(:last-child), .editActionBtn:not(:last-child){
    margin-right: 10px;
}


.viewActionIcon, .editActionIcon{
    font-size: 1.5rem !important;
    margin-right: 10px;
}

.blogLoader{
    color: #acbfa3;
}

.blogActionLink:hover, .submitBtn:hover{
    background-color: #acbfa3;
    color: #fff;
}

.blogViewDetails, .blogEditContainer{
    display: flex;
    justify-content: space-between;
}

.blogViewContentContainer, .blogEditContent{
    flex: 0 0 70%;
    margin-right: 20px;
}

.blogViewGroup, .blogEditGroup{
    display: flex;
    flex-direction: column;
}

.blogInfoBlock, .blogEditBlock{
    border-radius: 10px;
    overflow: hidden;
    margin: 30px 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.blogInfoBlock > .blogLabel, .blogEditBlock > .blogLabel {
    padding: 10px 20px;
    background-color: #acbfa3;
    color: #fff !important;
    font-size: 2rem;
}

.blogContent{
    padding: 2rem 3rem;   
}

.blogImgContainer{
   padding: 10px; 
}

.blogImgContainer > img{
    display: block;
    width: 100%;
    height: 500px;
}

.blogImgCaption{
    display: block;
    margin: 10px 0;
    font-size: 15px;
}

.blogImgCaption span{
    color: #acbfa3;
}

.blogComments{
    padding: 1rem 2rem;
}

.blogMetaContainer, .blogEditMetaContainer{
    flex: 0 0 30%;
    padding: 20px; 
}

.blogViewGroup > .blogLabel, .blogEditGroup > .blogLabel{
    font-size: 1.5rem;
    color: #555;
    font-weight: 600;
    margin-bottom: 1rem;
}


.blogViewGroup:not(:last-child){
    margin-bottom: 30px;
}

.blogAuthor{
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    border: 1px solid #edf0f1;
}

.blogAuthorName{
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #555;
    display: flex;
    align-items: center;
}

.dateInfoContainer{
    display: flex;
    justify-content: space-between;
}

.dateInfo{
    flex: 0 0 60%;
    margin-right: 20px;
}

.timeInfo{
    flex: 0 0 40%;
}

.dateInfo, .timeInfo{
    background-color: #fff;
    border: 1px solid #edf0f1;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.blogCategories{
    list-style-type: none;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #edf0f1;
}

.blogCategory{
    padding: 10px 20px;
}

.blogCategory:not(:last-child){
    border-bottom: 1px solid #edf0f1;
}

.blogEditTitle{
    flex: 0 0 72%;
    display: flex;
    flex-direction: column;
}

.blogTitleInput{
    width: 100%;
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #edf0f1;
    border-radius: 10px;
    padding: 8px 12px;   
}

.saveBlogActionContainer{
    flex: 0 0 20%;
    align-self: flex-end;
    display: flex;
    align-items: center;
}


.submitBtn{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
}

.blogEditGroup:not(:last-child){
    margin-bottom: 40px;
}

.editInputContainer{
    padding: 20px;
}

.editInputContainer > textarea, .editInputContainer > input{
    width: 100%;
    resize: none;
    padding: 10px 20px;
}

.authorInput{
    border: none;
}

.authorInput, .categorySelect{
    padding: 10px 0px 10px 5px;
    border-radius: 10px;
    border: 1px solid #edf0f1;
    transition: all .5s ease;
}

.authorInput:focus, .categorySelect:focus{
    outline: none;
    border: 1px solid #acbfa3;
}

.blogContentInput{
    width: 100%;
    height: 200px;
}

.quillContainer{
    height: 350px;
}


@media only screen and (max-width: 64em){
    .blogContainer{
        padding: 40px 20px !important;
    }

    .blogViewContentContainer{
        margin-right: 0;
    }

    .blogMetaContainer{
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 43.75em){
    .viewBlogContainer{
        margin-bottom: 10px;
    }

    .viewBlogTitleContainer{
        flex-direction: column;
    }

    .blogViewActions{
        flex: initial;
        justify-content: flex-end !important;
    }

    .viewBlogTitle{
        margin-bottom: 20px;
    }

    .blogViewDetails{
        display: flex;
        flex-direction: column;
    }

    .blogViewContentContainer{
        order: 1;
    }

    .blogMetaContainer{
        order: 0;
    }

    .blogContainer{
        padding: 40px 20px !important;
    }

    .blogEditTitle{
        flex: 0 0 60%;
    }

    .blogEditContainer{
        flex-direction: column;
    }

    .blogEditContent{
        order: 1;
        margin-right: 0;
    }

    .blogEditMetaContainer{
        order: 0;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 30em){
    .blogEditTitle{
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 25em){
    .blogEditTitleContainer{
        height: 70px;
    }

    .blogEditTitle{
        flex: 0 0 65%;
    }

    .saveBlogActionContainer{
        flex-direction: column;
        justify-content: space-between;
    }

    .editActionBtn{
        margin-right: 0 !important;
        width: 100%;
        margin-bottom: 3px;
    }
}