.sidebar{
    flex: 0 0 20%;
    height: 100vh;
    background-color: rgb(207, 204, 204);
    color: white;
    position: sticky;
    top: 0px;
    overflow-y: scroll;
}

.brand-logo{
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 10%;
}


.brandImgContainer{
    flex: 0 0 70%;
    text-align: center;
    background-color: #fff;
}

.brandImg{
    height: 100%;
}

.sidebarWrapper{
    padding: 20px 10px;
}

.sidebarMenu{
    margin-bottom: 10px;
    padding: 0 20px;
}

.sidebarTitle{
    font-size: 15px;
    color: #f2eeec;
    margin: 10px 0;
}

.sidebarList{
    list-style-type: none;
    padding: 5px 0;
}

.sidebarlistItem{
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    align-items: center;
    margin: 8px 0;
}

.sidebarlistItem.active, .sidebarlistItem:hover{
    background-color: #9aaf8f;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}


/* @media only screen and (max-width: ) */