.gallery{
    padding: 20px 0px;
    position: relative;
}

.galleryPhotos{
    display: flex;
    flex-flow: row wrap;
    padding: 0 20px;
    margin-bottom: 120px;
}

.addImageContainer{
    position: fixed;
    bottom: -220px;
    width: 80%;
    right: 0px;
    height: 300px;
    background-color: #acbfa3;
    border-radius: 50% 50% 0 0;
    transition: all .5s ease-in;
}

.addImageContainer.opened{
    bottom: 0px;
    border-radius: 100px 100px 0 0;
}

.addImageButton{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    transform: translateY(-30px);
    border: none;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,.4);
    cursor: pointer;
    transition: all .5s ease;
}

.addImageButton:hover{
    transform: translateY(-40px);
}


.addImageIcon{
    font-size: 50px !important;
}

.addImageFormContainer{
    background-color: #fff;
    height: 100%;
    padding: 20px 30px;
}

.addImageFormTitle{
    font-weight: 600;
    font-size: 20px;
}

.addImageForm{
    padding: 10px 0;
}

.addImageFormBox{
    display: flex;
    justify-content: space-between;
}

.addImageFormGroup{
    flex: 0 0 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.addImageFormGroup > label{
    font-size: 1.5rem;
    margin-bottom: 5px;
    font-weight: 300;
}

.addImageFormGroup > input{
    padding: 1.5rem 1.5rem;
    font: inherit;
    border: 1px solid #000;
}

.addImageFormGroup > input:focus,
input[type="file"]:focus, 
.addImageSelect:focus{
    outline: none;
    border: 1px solid #acbfa3;
}

input[type="file"]{
    padding: 1.2rem 0.8rem;
}

.addImageSelect{
    padding: 1rem;
    border: 1px solid #000;
}

.imageFormUploadButton{
    display: block;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin: 20px auto 0px auto;
}

.imageFormUploadButton:hover{
    background-color: #acbfa3;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

@media only screen and (max-width: 53.75em){
    .addImageContainer{
        width: 100%;
        border-radius: 30% 30% 0 0;
        bottom: -240px
    }
    
    .galleryPhotos{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 30em){
    .galleryPhotos{
        justify-content: none;
        flex-flow: column nowrap;
    }
}

@media only screen and (max-width: 37.5em){
    .addImageFormContainer{
        overflow-y: scroll;
    }

    .addImageFormBox{
        display: block;
    }

    .addImageFormGroup:not(:last-child){
        margin-bottom: 20px;
    }
}