.container{
    display: flex;
}

.link{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.link.active .sidebarlistItem{
    background-color: #9aaf8f;
}

.pagination{
    text-align: right;
    font-size: 12px;
    padding: 10px;
}

.paginationLink{
    text-decoration: none;
    color: #000;
}