.testimonialContent{
    width: 100%;
    display: flex;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,.75);
    box-shadow: 0px 0px 15px -10px rgba(0,0,0,.75);
    margin: 20px 0;
}

.testimonialImg{
    margin-right: 10px;
    width: 150px;
    height: 150px;
}

.testimonialInfo{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.testimonialTitle{
    margin-bottom: 20px;
    font-size: 25px;
}

.testimonialDescription{
    font-size: 15px;
    font-weight: 300;
}

.actionButtons{
    text-align: end;
    margin-top: auto;
}

.testimonialIcon{
    font-size: 25px !important;
    cursor: pointer;
    transition: all .3s ease-in !important;
}

.testimonialIcon.editIcon:hover{
    color: rgba(216, 216, 0, 0.8);
}

.testimonialIcon.deleteIcon:hover{
    color: rgba(255, 0, 0, 0.8);
}


.testimonialIcon:not(:last-child){
    margin-right: 10px;
}

.testimonialLink{
    text-decoration: none;
    color: initial;
}